SCHEDULE_API_URL=YOUR_SCHEDULE_API_URL_HERE

DATABASE_HOST=YOUR_DATABASE_HOST_HERE
DATABASE_NAME=YOUR_DATABASE_NAME_HERE
DATABASE_USER=YOUR_DATABASE_USER_HERE
DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD_HERE
DATABASE_PORT=YOUR_DATABASE_PORT_HERE

ADMIN_DEFAULT_EMAIL=YOUR_ADMIN_DEFAULT_EMAIL_HERE
ADMIN_DEFAULT_PASSWORD=YOUR_ADMIN_DEFAULT_PASSWORD_HERE

VK_API_KEY=YOUR_VK_API_KEY_HERE
SBER_API_KEY=YOUR_SBER_API_KEY_HERE